*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    /* background: linear-gradient(to right, #3c191e, #000, #39341b ); */
    height: 100vh;
    width: 100%;
    background-image: url(/img/header-logo-2-2.png);
    background-size: cover;
}
.section-one{
    display: flex;
    justify-content: center;
}
.navbar{
    z-index: 10;
    position: fixed;
    padding: 10px 20px;
    margin: 35px;
    font-size: 16px;
    border-radius: 30px;
    width: 1288px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
}
.navbar-logo img{
    height: 37px;
    width: 100px;
}
.links a{
    text-decoration: none;
    color: #fff;
    padding: 0 30px 0 30px;
}
.information-button button{
    cursor: pointer;
    width: 115px;
    height: 42px;
    font-size: 16px;
    background-color: #fce75b;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 54px 55px, rgba(255, 250, 250, 0.1) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.information-button button:hover{
    background-color: #fdef90;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px -10px;
}
.header{
    padding-top: 300px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: #fff;
}
.person-img img{
    height: 68.8vh;
    width: 530.50px;
}
.promo-and-movetext{
    padding-right: 100px;
}
.move-text h2{
    color: #fff;
    font-size: 56px;
}
.move-text h2 span{
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    animation: displayText 6s infinite;
    animation-delay: calc(-2s * var(--i));
}
@keyframes displayText{
    0%{
        display: inline-block;
    }
    33.33%, 100%{
        display: none;
    }
}
.move-text h2 span::before{
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    color: #fa4d64;
    border-right: 4px solid #fa4d64;
    filter: drop-shadow(0 0 5px #fa4d64) drop-shadow(0 0 25px #fa4d64);
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

.promotion{
    padding-top: 50px;
}
.promotion p{
    font-size: 18px;
    opacity: .5;
}
.promotion .button1{
    cursor: pointer;
    color: #fff;
    padding: 0 30px;
    font-size: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    height: 48px;
    transition: all .2s ease;
}
.promotion .button1:hover{
    background-color: transparent;
    box-shadow: 
                rgba(255, 255, 255, 0.12) 0px -12px 30px inset, 
                rgba(255, 255, 255, 0.12) 0px 4px 100px inset, 
                rgba(255, 255, 255, 0.17) 0px 12px 13px, 
                rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.promotion .button2{
    margin: 25px;
    cursor: pointer;
    width: 140px;
    height: 48px;
    font-size: 20px;
    background-color: #fce75b;
    border: none;
    border-radius: 20px;
}
.promotion .button2:hover{
    background-color: #fdef90;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px -10px;
}
.section-hero{
    height: 100vh;
    width: 100%;
    background-image: url(/img/hero-bg.png);
    background-size: cover;
}
.section-hero h1{
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 48px;
    color: #fff;
    text-align: center;
}

.video-sec1{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.video-info{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.video-info h3{
    font-size: 22px;
}
.video-info p{
    font-size: 16px;
    opacity: .5;
}
.person-2 {
    padding: 40px 0;
    display: flex;
    /* justify-content: space-between; */
}
.person-2 p{
    padding: 20px 400px 0 15px;
}
.person-2 a{
    text-decoration: none;
    color: #000;
}
.person-2 button{
    cursor: pointer;
    width: 150px;
    height: 42px;
    font-size: 16px;
    background-color: #fce75b;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 54px 55px, rgba(255, 250, 250, 0.1) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.person-2 button:hover{
    background-color: #fdef90;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px -10px;
}
.video-1 iframe{
    border-radius: 20px;
}

.video-sec2{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 44px;
    align-items: center;
}
.card{
    border: 1px solid #6e6d6d;
    width: 285px;
    height: 235px;
    background-color: #252525;
    border-radius: 10px;
    overflow: hidden;
}
.card p{
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
}
.programs{
    height: 1500px;
    width: 100%;
    background-image: url(/img/section.png);
    background-size: cover;
}
.cards{
    padding-top: 150px;
    color: #fff;
}
.cards h2{
    text-align: center;
    font-size: 48px;
    padding-bottom: 20px;
}
.cards p{
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    opacity: .8;
}
.card-system{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 100px 250px 0 250px;

}
.card-items img{
    position: relative;
    border-radius: 20px;
    height: 266px;
    width: 600px;
    background-size: cover;
}

.card-icon img{
    z-index: 5;
    position: absolute;
    height: 150px;
    left: 300px;
    top: 25px;
}

.card-items-2 img{
    position: relative;
    border-radius: 20px;
    height: 266px;
    width: 600px;
    background-size: cover;
}

.card-icon-2 img{
    z-index: 5;
    position: absolute;
    height: 150px;
    right: 300px;
    top: 25px;
}

.card-items p{
    font-size: 12px;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    padding: 15px;
    top: 45%; 
    left: 27%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
}
.card-items h4{
    position: absolute;
    font-size: 24px;
    top: 62%;
    left: 20%;
}
.card-items h5{
    position: absolute;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    top: 75%;
    left: 19%;
}
.card-items-2 .p{
    font-size: 12px;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    padding: 15px;
    top: 45%; 
    left: 65%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
}
.card-items-2 .h4{
    position: absolute;
    font-size: 24px;
    top: 62%;
    left: 57%;
}
.card-items-2 .h5{
    position: absolute;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    top: 75%;
    left: 56%;
}
.btn-incele{
    font-size: 16px;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    padding: 12px 35px;
    top: 92%; 
    left: 27%;
    border: none;
    border-radius: 10px;
    background-color:#252525;
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.9) 10px 1px 70px 10px, rgba(0, 0, 0, 0.9) 0px 30px 60px -30px;
}
.btn-incele:hover{
    cursor: pointer;
    background-color:#2e2d2d;
}
.btn-incele-2{
    font-size: 16px;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    padding: 12px 35px;
    top: 92%; 
    left: 65%;
    border: none;
    border-radius: 10px;
    background-color:#252525;
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.9) 10px 1px 70px 10px, rgba(0, 0, 0, 0.9) 0px 30px 60px -30px;
}
.btn-incele-2:hover{
    cursor: pointer;
    background-color:#2e2d2d;
}
.free-consultancy{
    display: flex;
    margin-top: 250px;
}
.free-consultancy button{
    cursor: pointer;
    background-color: #fce75b;
    margin-left:auto ;
    margin-right: auto;
    text-align: center;
    border: none;
    border-radius: 20px;
    height: 48px;
    width: 345px;
    font-size: 20px;
    box-shadow: #fce75b 0px 5px 150px;  
    transition: all .4s ease;
}
.free-consultancy button:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: #fffefb 0px 5px 150px; 
}
.section-education{
    height: 100vh;
    width: 100%;
    background-image: url(/img/hero-bg.png);
    background-size: cover;
}
.title-edu{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-edu h1{
    padding-bottom: 15px;
    color: #fce75b;
    font-size: 48px;
}
.title-edu h2{
    padding-bottom: 100px;
    color: #ffffff;
    font-size: 48px;
}
.edu-sec{
    margin: 0 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo-1 img{
    cursor: pointer;
    height: 485px;
    width: 330px;
}
.photo-1 img:hover{
    filter: brightness(1.1) contrast(1.3) saturate(1.4);
}
.photo-2 img{
    cursor: pointer;
    height: 345px;
    width: 240px;
}
.photo-2 img:hover{
    filter: brightness(1.1) contrast(1.3) saturate(1.4);
}
.explanation{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.live-edu h1{
    font-size: 22px;
}
.live-edu p{
    font-size: 16px;
    opacity: .5;
}
.all-explanation{
    display: flex;
    flex-direction: column;
}
.all-explanation img{
    padding-right: 25px;
}
.content-1 {
    display: flex;
    padding-bottom: 50px;
}
.review-button{
    padding-top: -70px;
    margin-left:auto ;
    margin-right: auto;
    width: 345px;
}
.review-button button{
    cursor: pointer;
    background-color: #fce75b;
    text-align: center;
    border: none;
    border-radius: 20px;
    height: 48px;
    width: 345px;
    font-size: 20px;
    box-shadow: #fce75b 0px 5px 150px; 
    transition: all .4s ease;
}
.review-button button:hover{
    background-color: #ecece6;
    box-shadow: #ffffff 0px 5px 150px;  
}
.container {
    margin-top: 200px;
}
.accordion-item{
    background-color:#131313;
    color: #fff;
    font-size: 16px;
}
.accordion-button{
    color: #fff;
    background-color: #131313;
    height: 100px;
    font-size: 20px;
}
.container .h1{
    color: #fff;
    text-align: center;
    padding-bottom: 55px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(37, 37, 37, .5);
    height: 983px;
    width: 1288px;
    border-radius: 30px;
    color: rgba(255, 255, 255, .5);
}
.contact-row img{
    padding: 80px 0 0 55px;
}
.contact-right .form-floating input{
    border: none;
    color: #fff;
    background: #181818;
    width: 450px;
    margin-right: 100px;
}
.contact-right h1{
    color: #fff;
}
.send-message button{
    color: #fff;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 10px ;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, .5);
    text-align: center;
    background-color: transparent;
    transition: all .25s ease;
}
.send-message button:hover{
    color: #131313;
    background-color: #fdef90;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 50px 50px 0px;
}
.contact-left img{
    cursor: pointer;
    filter: grayscale(.5);
    transition: all .6s ease;
}
.contact-left img:hover{
    filter: grayscale(0);
}

footer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer span{
    padding: 16px 0;
    color: #ecece6;
    font-size: 18px;
}
.social{
    cursor: pointer;
}
.social img{
    transition: all .2s ease;
}
.social img:hover{
    transform: scale(1.2);
}
.wp-icon img{
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    bottom: 10px;
    right: 30px;
}